.App {
  text-align: center;
  background-color: #fee9e1;
}


.App-header {
  background-color: #bfa89e;
  height: 150px;
  padding: 20px;
  margin: 0;
  width: 100%;
  color: #64b6ac;
  text-shadow: 2px 2px 2px black;
  font-size: 4em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}